.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}
.Person input[type=text]{
    border: 1px solid #DDDDDD;
    padding: 3px;
    outline: none;
}
.Person input[type=text]:focus{
    box-shadow: 0 0 5px rgba(81,203,238,1);
    border: 1px solid rgba(81,203,238,1);
}
@media (min-width: 500px){
    .Person{
        width: 450px;
    }
}