.Cockpit {
    text-align: center;
  }
  .red{
    color: red
  }
  .bold{
    font-weight: bold;
  }
  .Cockpit button{
    padding: 8px;
    border-radius: 5px;
    background-color: green;
    color: white; 
    font: inherit;
    font-size: 18px;
    border: none;
    outline: none,
  }
  .Cockpit button:hover {
    background-color:lightgreen;
    color: black;
  }
  .Cockpit button.Red{
    background-color: red;
  }
  .Cockpit button.Red:hover{
    background-color: salmon;
  }
  